<%- include('partials/head')%>
<%- include('partials/nav')%>
    <h2>My Cats</h2>
    <ul>
      <% for(cat of cats){ %>
      <li><%= cat %></li>
      <% } %>
    </ul>
  <%- include('partials/footer')%>
