<%- include('partials/head')%>
<%- include('partials/nav')%>
  <h1>Home Page! <%=5+4+2%>
  </h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, dolorem. Blanditiis magnam consequuntur
    voluptas at quis impedit inventore molestiae, dicta dolores quam rerum repellendus in nisi incidunt facere sequi
    dignissimos.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, dolorem. Blanditiis magnam consequuntur
    voluptas at quis impedit inventore molestiae, dicta dolores quam rerum repellendus in nisi incidunt facere sequi
    dignissimos.</p>
<%- include('partials/footer')%>